.footer {
  background: linear-gradient(180deg, $white 120px, $grey 120px);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 150px auto auto;
  grid-column-gap: 5px;
  grid-template-rows: 120px 64px;
  align-items: center;
  .footer__social {
    grid-column: 1;
    grid-row: 1;
  }
  .footer__adress {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
  .footer__contact {
    grid-column: 3;
    grid-row: 1;
  }
  .footer__rights {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 12px;
    color: $dark_grey;
  }
  .footer__confidentiality {
    grid-column: 3;
    grid-row: 2;
    font-size: 12px;
    color: $dark_grey;
    text-align: right;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .footer {
    background: linear-gradient(
      180deg,
      $white 45px,
      $grey 45px 47px,
      $white 47px 90px,
      $grey 90px 92px,
      $white 92px 120px,
      $grey 120px 155px,
      $white 155px 157px,
      $grey 157px
    );
  }

  .footer__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: 45px 45px 30px 35px 25px;
    justify-items: center;
    .footer__social {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    .footer__adress {
      grid-column: 1 / span 2;
      grid-row: 3;
      width: 100%;
    }
    .footer__contact {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    .footer__rights {
      grid-column: 1 / span 2;
      grid-row: 4;
      font-size: 10px;
      text-align: center;
    }
    .footer__confidentiality {
      grid-column: 1 / span 2;
      grid-row: 5;
      width: 100%;
      text-align: center;
      font-size: 10px;
    }
  }
}
